<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage">
        <Configuration>
          <CodeCoverage>
            <Exclude>
              <ModulePath>.*BusinessApplication.Migrations.*</ModulePath>
              <ModulePath>.*BusinessApplication.Model.*</ModulePath>
              <ModulePath>.*BusinessApplication.View.*</ModulePath>
              <ModulePath>.*\.xaml$</ModulePath>
              <ModulePath>.*DbContext.*</ModulePath>
            </Exclude>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
