<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage">
        <Configuration>
          <CodeCoverage>
            <Exclude>
              <!-- Optionally exclude entire namespaces -->
              <Namespace>BusinessApplication.Migrations</Namespace>
              <Namespace>BusinessApplication.Model</Namespace>
              <Attributes>
                <Exclude>^System\.Diagnostics\.CodeAnalysis\.ExcludeFromCodeCoverageAttribute$</Exclude>
              </Attributes>
            </Exclude>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
